# Table of content

01. Importing libraries

2. Importing data

        Importing products dataset
        Importing orders dataset

3. Mixed-type data

4. Missing values

        Finding missing values
        Addressing missing values

5. Duplicates

        Finding duplicates
        Addressing duplicates

6. Task

# 01. Importing libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [2]:
# Creating shortcut path
path = path = r'C:\Users\henri\Documents\Tonia\Learning\CarrrerFoundry\Data Immersion\Achievement 4\Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\henri\\Documents\\Tonia\\Learning\\CarrrerFoundry\\Data Immersion\\Achievement 4\\Instacart Basket Analysis'

## Importing products dataset

In [4]:
# Importing products.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [5]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

## Importing orders dataset

In [6]:
# Importing orders_wrangled.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [7]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [8]:
df_ords.dtypes

Unnamed: 0                     int64
order_id                       int64
user_id                        int64
order_number                   int64
orders_day_of_week             int64
order_hour_of_day              int64
days_since_previous_order    float64
dtype: object

In [9]:
# Dropping column "Unnamed":
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [10]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [11]:
# Changing "order_id" and "user_id" data type in orders dataframe
df_ords['order_id'] = df_ords['order_id'].astype('str')
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [12]:
df_ords.dtypes

order_id                      object
user_id                       object
order_number                   int64
orders_day_of_week             int64
order_hour_of_day              int64
days_since_previous_order    float64
dtype: object

In [13]:
# Exporting orders df as orders_wrangled.csv
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled_new.csv'))

# 03. Mixed-Type Data

In [14]:
# Create a dataframe
df_test = pd.DataFrame()

In [15]:
# Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [16]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [17]:
# Check for mixed type data
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [18]:
# Convert mix column's data type to string
df_test['mix'] = df_test['mix'].astype('str')

In [19]:
# Checking the data type of df_test
df_test.dtypes

mix    object
dtype: object

# 04. Missing Values

## Finding Missing Values

In [20]:
# Checking how many null values there are in the products df
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [21]:
# Creating a subset df of null values from "product_name" column from products df
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [22]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

## Addressing Missing Values

In [23]:
# Checking number of rows and columns of products df
df_prods.shape

(49693, 5)

In [24]:
# Creating a new products df without missing values
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [25]:
# Checking number of rows and columns of the new products df
df_prods_clean.shape

(49677, 5)

# 05. Duplicates

## Finding Duplicates

In [26]:
# Creating a subset of duplicated rows from products df
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [27]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

## Addressing Duplicates

In [28]:
# Checking the number of rows in producs df
df_prods_clean.shape

(49677, 5)

In [29]:
# Creating a new products dataframe without duplicated lines
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [30]:
# Checking the number of rows in the newly created df
df_prods_clean_no_dups.shape

(49672, 5)

# 06. Task

## Task 2

Run the df.describe() function on your df_ords dataframe. Using your new knowledge about how to interpret the output of this function, share in a markdown cell whether anything about the data looks off or should be investigated further.

    Tip: Keep an eye on min and max values!

In [31]:
# Descriptive statistivs of the orders df
df_ords.describe()

,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

The statistics look fairly normal. Orders by day of week range from 0 (Sunday) to 6 (Satuday) and orders by hour of day range from 0 to 23, which are both as expected. Only the maximum valuee of the order number looks strange - 100, while the total count of the orders is 3'421'083. However, the order number might be assigned to the user id.

## Task 3

Check for mixed-type data in your df_ords dataframe.

In [32]:
# Check for mixed type data
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

The orders dataframe does not have any mixed-type data.

## Task 4

Not applicable, there is no mixed-type data

## Task 5 & 6

5.Run a check for missing values in your df_ords dataframe.

    In a markdown cell, report your findings and propose an explanation for any missing values you find.
    
6.Address the missing values using an appropriate method.

    In a markdown cell, explain why you used your method of choice.

In [33]:
# Checking how many null values there are in the orders df
df_ords.isnull().sum()

order_id                          0
user_id                           0
order_number                      0
orders_day_of_week                0
order_hour_of_day                 0
days_since_previous_order    206209
dtype: int64

The only missing values are for "days_since_previous_order" column. Since for the first order there is no previous order, this seems to be ok. Therefore I decided to keep the missing values intact.

However, if the missing values were to be addressed, I would do it in the following way:

1. Creating a subset df of null values from "days_since_previous_order" column from orders df

df_ords_nan = df_ords[df_ords['days_since_previous_order'].isnull() == True]

2. Checking number of rows and columns of orders df

df_ords.shape

3. Creating a new orders df without missing values

df_ords_clean = df_ords[df_prods['days_since_previous_order'].isnull() == False]

4. Checking number of rows and columns of the new orders df to confirm that the rows with missing values were removed successfully

df_ords_clean.shape

This method allows not to make irreversible changes in the original dataframe and create a copy without the missing values. This is a safe method to keep the original dataframe intact in case something goes wrong with the removal of the rows or if the missing values would be removed incorrectly.

## Task 7 & 8

7.Run a check for duplicate values in your df_ords data.

    In a markdown cell, report your findings and propose an explanation for any duplicate values you find.

8.Address the duplicates using an appropriate method.

    In a markdown cell, explain why you used your method of choice.

In [34]:
# Creating a subset of duplicated rows from products df
df_dups_ords = df_ords[df_ords.duplicated()]

In [35]:
df_dups_ords

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_previous_order]
Index: []

There are no duplicate values in the orders dataframe. However, if there were, I would proceed in the following way:

1. Checking the number of rows in orders dataframe:

    df_ords.shape

2. Creating a new orders dataframe without duplicated lines

    df_ords_no_dups = df_ords.drop_duplicates()

3. Checking the number of rows in the newly created dataframe to confirm that the duplicated rows were removed from the dataframe.

    df_ords_no_dups.shape

This method allows not to make irreversible changes in the original dataframe and create a copy without the duplicates. This is a safe method to keep the original dataframe intact in case something goes wrong with the removal of the duplicates or if the duplicates would be removed incorrectly.

## Task 9

Export your final, cleaned df_prods and df_ords data as “.csv” files in your “Prepared Data” folder and give them appropriate, succinct names.

In [36]:
# Exporting orders df as orders_clean.csv
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_clean.csv'))

In [37]:
# Exporting products df as products_clean.csv
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_clean.csv'))