# Table of content

1. Importing libraries

2. Importing data

        Importing products combined dataset
        Importing products clean dataset

3. Combining of orders and products dataframes

4. Exporting the dataframe in a pickle format

# 01. Importing Libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
# Creating shortcut path
path = path = r'C:\Users\henri\Documents\Tonia\Learning\CarrrerFoundry\Data Immersion\Achievement 4\Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\henri\\Documents\\Tonia\\Learning\\CarrrerFoundry\\Data Immersion\\Achievement 4\\Instacart Basket Analysis'

## Task 3

In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

### Importing orders products combined dataset

In [5]:
# Importing orders_products_combined.pkl
df_ords_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [6]:
df_ords_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [13]:
# Dropping column "_merge":
df_ords_merged = df_ords_merged.drop(columns = ['_merge'])

In [15]:
df_ords_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

## Task 4

Check the shape of the imported dataframe

In [14]:
# Checking the shape of the imported dataframe
df_ords_merged.shape

(32434489, 9)

### Importing products clean dataset

In [8]:
# Imporing products_clean.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_clean.csv'), index_col = False)

In [9]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
# Dropping column "Unnamed":
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [11]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
df_prods.shape

(49672, 5)

# 03. Combining of orders and products dataframes

## Task 5

Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

I will use the df.merge() function on "product_id" argument.

In [17]:
# Merging df_ords_merged and df_prods dataframes:
df_ords_prods = df_ords_merged.merge(df_prods, on = 'product_id', indicator  = True)

In [18]:
# First rows of newly merged dataframe
df_ords_prods.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [19]:
# Shape of newly merged dataframe
df_ords_prods.shape

(32404859, 14)

## Task 6

Confirm the results of the merge using the merge flag.

In [21]:
# Check to see if we have a full match or not
df_ords_prods['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

# 04. Exporting the dataframe in pickle format

## Task 7

Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [23]:
# Exporting merged dataframe to pickle:
df_ords_prods.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))